/*  Edurne Presa Angulo - Lenguaje de marcas y sistemas de gestión de la información - DAW 
    Unidad 2 - Tarea Evaluativa 2
    
    Este documento css da estilo a todos los documentos html del sitio web.
*/


/*Se importa el archivo css de normalización de estilos*/
@import "normalize.css";

/*Estilo aplicado a todo el documento*/
* {
    font-family: 'Raleway', sans-serif;
}

body {
    background-image: url("../media/background-foto-mosaico.jpg");
    background-color: white;
}

/*TITULO: presente en todas las páginas del sitio web*/
.titulo {
    background-color: #12261B;
    color: #D2DDCA;
    position: sticky;
    top: 0;
    left: 0; 
    height: 15vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    align-self: flex-start;
}

/*BARRA DE NAVEGACION: presente en todas las páginas del sitio web*/
.navbar {
    background-color: #264D42;
    position: sticky;
    top: 15vh;
    left: 0; 
    height: 9vh;
    text-align: center;
    display: flex;
    z-index: 2;
    align-self: flex-start;
}
.navbar__item {
    font-size: 1.5rem;
    height: 100%;
    width: 25%;
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav a:link, 
nav a:visited {
    background-color: #264D42;
    text-decoration: none;
    color: #DADFD7;
}
nav a:hover, 
nav a:active {
    background-color: #BED5C2;
    text-decoration: none;
    color: #264D42;
}

/*ESTILOS COMPARTIDOS ENTRE LAS PÁGINAS*/
/*Se indica el estilo compartido*/
    /*Contenedor de main y aside*/
.contenido {
    min-height: auto;
    max-height: max-content;
    display: flex;
}

    /*Contenido principal*/
.contenido__cuerpo {
    display: flex;
    flex-direction: column;
    width: 75%;
}
.presentacion {
    flex: 1 1 50%;
}

    /*Noticias*/
.noticia {
    border: solid #12261B 0.12rem;
    background-color: #99bda082;
    margin: 2rem;
    display: flex;
    min-height: 16rem;
}
.noticia__img { 
    height: 12rem;
    margin: 1rem;
    border: 0.005rem solid #12261B;
    align-self: center
}
.noticia__contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.noticia__contenido a {
    align-self: flex-end;
    justify-self: end;
    margin-right: 1rem;
    margin-bottom: 1rem; 
    text-decoration: none;
    padding: 0.5rem;
    background-color: #99bda0;
    color: black; 
}
article p {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.2rem;
}
article h4 {
    padding-top: 1rem;
    font-size: 1.1rem;
    padding-bottom: 1rem;
}
.noticia__contenido--fecha {
    padding-bottom: 0.5rem;
    font-style: italic;
}
 
    /*Aside*/
.aside {
    background-color: #36564D;             
    width: 25%;
    flex: 0 0 25%;
    display: flex;  
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    color: #EBEDE3;
}
.aside__espacio--filler {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    color: #BED5C2;
    background-color: #BED5C2;
    margin: 1rem 0;
}
.aside__campo img {
    width: 17rem; 
    height: auto;
    border-radius: 2rem;
}
.aside__campo--ultima {
    margin-bottom: 3rem;
}

    /*Formatos de texto, color, etc.*/
h2 {
    font-size: 1.4rem;
    padding: 1rem;
    margin: 3rem 0 0 0;
}
.aside h2 {
    padding-bottom: 4rem;
}
.subrayado-h2 {
    border: #62998D solid 0.15rem;
    background-color: #62998D;
    margin: 0.5rem 0.5rem 2rem 0.5rem;
    width: auto;
}
.pagina-cuerpo__informacion p {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    text-align: justify;
    margin: 1.5rem 0;
}
.separacion {
    border: solid #12261B 0.2rem;
    margin: 2rem 3rem 0 3rem;
}
h4 {
    margin-top: 1rem;
}

    /*Enlaces, enlaces de volver atrás*/
.categoria__texto--fuente a,
.categoria__enlaces a, 
.categoria__atras a,
.pagina-cuerpo__atras--categoria,
.nueva-web {
    text-decoration: none;
    color: black;
}

    /*Imágenes con reborde blanco*/
.categoria__perfil--fotoperfil, 
.pagina__img,
.categoria__img {
    border: solid white 0.4rem;
    box-shadow: 0.1rem 0.1rem 0.3rem  rgb(134, 134, 134);
}

/*PAGINA CONTACTO*/
    /*Aside página contacto*/
.aside__contacto {
    background-color: #36564D;             
    color: #DADFD7;
    width: 25%;
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
}
.aside__contacto h2 {
    padding-bottom: 3rem;
}
.contacto__proximamente {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contacto__proximamente p {
    padding: 0 3rem;
    font-size: 1.2rem;
    margin: 1rem 0;
}
.contacto__web {
    text-transform: uppercase;
    margin: 1rem;
    text-decoration: none;
    color: #DADFD7;
}
.contacto__web p {
    background-color: rgba(153, 189, 160, 0.144);
    padding: 2rem 1rem;
    margin: 0 3rem;
    border-radius: 6rem;
    font-size: 1.3rem;
    color: #DADFD7;
    text-decoration: none;
}
.contacto__filler {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacto__filler--filler {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    color: #BED5C2;
    background-color: #BED5C2;
    margin: 2rem 0 0 0;
}
.iconos {
    display: flex;
    justify-content: center;
}
.iconos__rrss a {
    text-decoration: none;
    font-size: 3rem;
    padding: 1rem;
    color: #36564D;               
    background-color: #DADFD7;
    width: 3rem;
    height: 3rem;
    border-radius: 0.6rem;
}
.iconos__rrss {
    margin: 2rem 2rem 2rem 2rem;
}

    /*Formulario de contacto*/
.contenido__cuerpo p {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.3rem;
}
.contenido__cuerpo {
    margin: 0 4rem 4rem 4rem;
}
.formulario__contenedor {
    display: flex;
    flex-direction: column;
    margin: 1rem; 
    font-size: 1.2rem;
    justify-content: center;
}
.formulario__fila {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.3rem;
}
fieldset {
    margin: 2rem 14rem;
    border: solid #12261B 0.12rem;
    background-color: #99bda082;
}
legend {
    font-size: 1.4rem;
    margin-left: 1rem;
    padding: 0.4rem 1rem;
    border-radius: 6rem;
    background-color: #12261B;
    color: #DADFD7;
}
input {
    margin: 0.5rem;
    color: black;
    width: 20rem;
    height: 2rem;
    left: 3rem;
    background-color: rgba(255, 255, 255, 0.849);
    border: none;
    padding: 0.3rem;
    border-radius: 0.6rem;
}
label {
    margin: 0.5rem 0;
}
textarea {
    margin: 0.5rem;
    color: black;
    left: 3rem;
    background-color: rgba(255, 255, 255, 0.849);
    border: none;
    padding: 0.5rem;
    border-radius: 0.6rem;
}
.formulario__button {
    display: flex;
    justify-content: center;
    text-align: center;
}
button {
    margin-bottom: 2rem;
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    border-radius: 0.6rem;
    border: none;
    font-weight: 600;
    color: #DADFD7;
    background-color: #12261B;
}

/*PAGINA DE CATEGORIAS*/
    /*Carrousel*/
.carrousel img {
    width: 40vw;
}
.contenedor-carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69vh;
    overflow: hidden;
}
.carrousel {
    background-color: white;
    border: 0.2rem solid #36564da6;
    width: 40vw;
    min-width: 40vw;
    max-width: 40vw;
    height: 56vh;
    max-height: 56vh;
    min-height: 56vh;
    overflow: hidden;
    border-radius: 1.5rem;
    position: absolute;         
}
.carrousel__diapositivas {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: 40vw;
    min-width: 40vw;
    max-width: 40vw;
    height: 56vh;
    max-height: 56vh;
    min-height: 56vh;
    overflow: hidden;
}
.diapositiva {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 0;
    width: 40vw;
    min-width: 40vw;
    max-width: 40vw;
    height: 56vh;
    max-height: 56vh;
    min-height: 56vh;
    box-sizing: border-box;
    transform-origin: center center;
    transform: scale(1);
    scroll-snap-align: center;
}

    /*Botones del carrousel*/
.boton {
    position: absolute;
    top: 48%;
    width: 2.3rem;
    height: 2.3rem;
    border: none;
    background: none;
    border-width: 0 0.6rem 0.6rem 0;
    padding: 1.3rem;
    box-sizing: border-box;
}
a.diapositiva__prev, 
.carrousel::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
}
a.diapositiva__next, 
.carrousel::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
}
.carrousel::before, 
.carrousel::after,
.diapositiva_prev, 
.diapositiva_next {
    position: absolute;
    top: 48%;
    width: 2.3rem;
    height: 2.3rem;
    border: solid #264D42;
    border-width: 0 0.3rem 0.3rem 0;
    padding: 1.3rem;
    box-sizing: border-box;
}
.carrousel::before, 
.carrousel::after {
    content: '';
    z-index: 1;
    background: none;
    pointer-events: none;
}

    /*Breadcrumbs del carrousel*/
.carrousel-nav {
    box-sizing: border-box;
    position: absolute;
    bottom: 5%;
    left: 10vw;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.diapositiva_link {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin: 0 0.6rem 0 0.6rem;
}
.carrousel-nav a:link, 
.carrousel-nav a:visited {
    background-color: #264D42;
}
.carrousel-nav a:hover, 
.carrousel-nav a:active {
    background-color: #BED5C2;
}

/*PAGINA DE CADA CATEGORIA*/
.categoria__presentacion--titulo {
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}
.categoria__presentacion {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}
.categoria__texto {
    border: solid #12261B 0.12rem;
    background-color: #99bda082;
    padding: 1.2rem;
    margin-right: 5%;
    width: 53%;
}
.categoria__img {
    left: 1.5rem;
    width: 33%;
    margin-left: 5%;
    margin-right: 4%;
    align-self: center;
}
.categoria__presentacion__contenido {
    display: flex;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
    line-height: 1.3rem;
    text-align: justify;
}
.categoria__texto--fuente {
    margin: 1rem 0;
    text-align: right;
}
.definicion {
    font-size: 1rem;
    padding: 0 1rem;
    font-style: italic;
}
.categoria__atras {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0 3rem 0; 
}
.categoria__atras p {
    padding: 1rem;
    background-color: #99bda0;
    color: black;
    font-size: 1.2rem;
    border-radius: 6rem;
}
.categoria__enlaces {
    display: flex;
    padding-bottom: 3.5rem;
    margin-top: 4rem;
    justify-content: space-evenly;
}
.categoria__perfil--fotoperfil {
    max-width: 14rem;
    max-height: 100%;
    margin: 1rem;
}
.categoria__perfil {
    display: flex;
    flex-direction: column;
}
.categoria__perfil--pie {
    text-align: center;
    font-size: 1.5rem;
}

/*PAGINA DE CADA MUJER*/
.pagina__img {
    position: fixed;
    top: 38vh;
    left: 5vw;
    height: 45vh;
}
.pie-foto {
    position: fixed;
    top: 86vh;
    left: 5.1vw;
    font-size: 0.8rem;
    font-style: italic;
    color: darkslategray;
}
.pagina-cuerpo__informacion {
    position: relative;
    top: 6vh;
    width: 70vw;
    margin-bottom: 4rem;
}
.pagina-cuerpo {
    margin-left: 25vw;
}
h3 {
    margin-bottom: 2rem;
    font-size: 1.3rem;
}
h5 {
    font-size: 1.1rem;
    font-weight: normal;
    padding-left: 1.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
}
.pagina-cuerpo__informacion {
    line-height: 1.4rem;
    padding-top: 0.5rem;
    margin: 0;
    font-size: 1.1rem;
}
.pagina-cuerpo__fuente a {
    color: black;
    text-decoration: none;
}
.pagina-cuerpo__atras--categoria {
    font-size: 1.1rem;
    padding: 1rem;
    background-color: #99bda0;
    border-radius: 6rem;
    margin-bottom: 4rem;
}
.pagina-cuerpo__atras--flex {
    display: flex;
    justify-content: center;
}

/*FOOTER: presente en todas las páginas del sitio web*/
.footer {
    background-color: #264D42;
    text-decoration: none;
    height: 7vh; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
footer p {
    margin: 0.1rem;
    font-size: 0.7rem;
    color: #BED5C2;
}
footer a:link, 
footer a:visited,  
footer a:hover,  
footer a:active {
    color:#BED5C2;
    text-decoration: none;
}